{
  "extends": ["airbnb/base", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-void": 0,
    "no-bitwise": ["error", {"allow": ["~"]}],
    "no-console": ["warn"],
    "no-underscore-dangle": 0
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  }
}
